//clone-coding(hyundaicard) 페이지 입니다.
.tempor {
	position: absolute;
}

// 임시

.layout-set {
	background: rgba(255, 216, 216, .5);
	border: 2px solid #000;
}

//header 스타일
#header,
#header2 {
	@extend .layout-set;
	width: 100%;
	height: auto;

	.head-area {
		width: 100%;
		height: 80px;
		display: flex;
		flex-direction: row;
		align-items: center;

		.logo {
			@extend .layout-set;
			width: 20%;
			height: 80px;
			border: 2px solid rgb(199, 76, 76);
		}

		.gnb {
			@extend .layout-set;
			width: 60%;
			height: 80px;
			border: 2px solid rgb(199, 76, 76);
			display: flex;
			flex-direction: row;
			align-items: center;

			.gnb-l {
				float: left;
				width: 60%;

				&>ul {
					display: flex;
					flex-direction: row;
				}
			}

			.gnb-r {
				float: right;
				width: 40%;

				&>ul {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
				}
			}
		}

		.search {
			@extend .layout-set;
			width: 20%;
			height: 80px;
			border: 2px solid rgb(199, 76, 76);
		}
	}

	.head-event {
		@extend .layout-set;
		width: 100%;
		height: 40px;
		// display: block;
		display: none;
	}

	//gnb-sub 스타일
	.gnb-sub {
		@extend .layout-set;
		width: 100%;
		height: auto;
		position: absolute;
		top: 80px;
		left: 0;
		display: none;

		.sub-wrap {
			width: 1200px;
			margin: 0 auto;

			&::after {
				display: block;
				content: '';
				clear: both;
			}
		}

		.sub-l {
			@extend .layout-set;
			width: 860px;
			float: left;
			border: 2px solid rgb(199, 76, 76);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;


			.sub-list {
				@extend .layout-set;
				width: 25%;
				height: 100px;
				border: 2px solid rgb(199, 76, 76);

				li {
					width: 100%;
				}
			}
		}

		.sub-r {
			@extend .layout-set;
			width: 326px;
			float: right;
			border: 2px solid rgb(199, 76, 76);
		}
	}
}


#footer,
#footer2 {
	@extend .layout-set;
	width: 100%;
	height: 80px;
}

.wrap.layout-set {
	width: 1600px;
	margin: 0 auto;

	.main-wrap {
		width: 1256px;
		float: left;

		section {
			@extend .layout-set;
			width: 100%;
			height: 400px;
			display: flex;
		}
	}

	.side {
		@extend .layout-set;
		width: 200px;
		height: 100%;
		border: 2px solid rgb(199, 76, 76);
	}

	.card-area {
		@extend .layout-set;
		width: 1056px;
		height: 400px;
		border: 2px solid rgb(199, 76, 76);

		ul {
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;

			.card-item {
				width: 25%;
				height: 50%;
				border: 2px solid rgba(199, 76, 76, 0.5);
			}
		}
	}

	.event-area {
		width: 100%;

		.card-area {
			width: 100%;
		}
	}

	&::after {
		display: block;
		content: '';
		clear: both;
	}

	.aside-wrap {
		width: 333px;
		height: auto;
		float: right;

		article {
			@extend .layout-set;
			width: 100%;
			height: 300px;
		}
	}

	@media (max-width:1600px) {
		&.wrap.layout-set {
			width: 1228px;

			.main-wrap {
				width: 885px;
			}

			aside {
				width: 333px;
			}
		}
	}
}


// sub-page01 
.subpage-wrap {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.erp-wrap {
	.title1 {
		font-size: 34px;
		font-weight: 600;
		line-height: 44px;
		text-align: center;
		margin-top: 70px;
	}

	.con-wrap {
		margin-top: 60px;

		.title2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 32px;

			&+.text-style {
				margin-top: 12px;
			}
		}

		.text-style {
			font-size: 16px;
			font-weight: 500;
			color: #5c5c5c;
			line-height: 26px;
		}

		.table-styleA {
			width: 100%;
			border-top: 2px solid #000;
			border-collapse: collapse;
			margin-top: 20px;

			tr {
				border-bottom: 1px solid #ebebeb;
			}

			th {
				padding: 20px;
				text-align: left;
				vertical-align: top;
				font-weight: 700;
				font-size: 16px;
			}


			td {
				padding: 20px;
				font-weight: 700;
				font-size: 16px;
				color: #5c5c5c;

				.list-typeA {
					strong {
						width: 100%;

						&+p {
							margin-bottom: 10px;
						}
					}

					p {
						font-weight: 500;
						position: relative;
						padding-left: 8px;

						&::before {
							position: absolute;
							top: 50%;
							left: 0;
							width: 2px;
							height: 2px;
							background: #5c5c5c;
							border-radius: 50%;
							content: '';
						}
					}
				}

				.list-typeB {
					li {
						position: relative;
						padding-left: 8px;
						font-weight: 500;
						margin-bottom: 10px;

						&::before {
							position: absolute;
							top: 50%;
							left: 0;
							width: 2px;
							height: 2px;
							background: #5c5c5c;
							border-radius: 50%;
							content: '';
						}

						&:last-child {
							margin-bottom: 0px;
						}
					}

				}

			}

			&+.bul-list {
				margin-top: 20px;
			}
		}

		.bul-list {
			position: relative;
			margin-bottom: 10px;
			padding-left: 8px;
			font-weight: 500;
			font-size: 16px;
			color: #5c5c5c;

			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				width: 2px;
				height: 2px;
				background: #5c5c5c;
				border-radius: 50%;
				content: '';
			}
		}

		.way-list {
			display: flex;
			width: 100%;
			height: 216px;
			padding: 36px 22px 35px;
			margin-top: 12px;
			border: 1px solid #ddd;
			border-radius: 10px;

			li {
				position: relative;
				width: 33.3%;
				margin: 0 auto;
				text-align: center;

				strong {
					font-weight: 700;
				}

				p {
					font-size: 14px;
					font-weight: 500;
					color: #858585;
				}

				img {
					display: block;
					width: 64px;
					height: 64px;
					margin: 0 auto;
					margin-bottom: 5px;
				}

				&::after {
					position: absolute;
					top: calc(50% - 16px);
					right: -16px;
					display: block;
					width: 32px;
					height: 32px;
					background: url(../../../images/arrow-gry.png);
					background-size: cover;
					content: '';
				}

				&:last-child::after {
					display: none;
				}
			}
		}

		.link-list {
			font-size: 16px;
			font-weight: 700;
			color: #5c5c5c;
			line-height: 22px;
			margin-top: 12px;

			ul {
				display: flex;
				flex-direction: row;
			}

			li {
				width: 180px;
				margin-right: 60px;

				.tit {
					margin-bottom: 5px;

					span {
						position: relative;
						padding-right: 14px;

						&::after {
							position: absolute;
							top: 7px;
							right: 7px;
							display: block;
							width: 1px;
							height: 12px;
							background: #ddd;
							content: '';
						}

						&:last-child {
							&::after {
								display: none;
							}
						}
					}
				}

				.link {
					position: relative;
					padding-right: 16px;
					font-size: 14px;
					font-weight: 900;
					color: #0070f0;

					&::after {
						position: absolute;
						top: 3px;
						right: 0px;
						width: 16px;
						height: 16px;
						background: url(../../../images/ico-arrow-forward-blue.png);
						background-size: cover;
						content: '';
					}
				}
			}
		}
	}

	padding-bottom: 130px;
}

.btn-area {
	width: 100%;
	margin-top: 60px;
	text-align: center;

	.btn-request {
		display: inline-block;
		width: 300px;
		padding: 20px 0;
		background-color: #000;
		border-radius: 8px;
		font-size: 20px;
		line-height: 20px;
		color: #fff;
		text-align: center;
	}
}


.subpage-footer {
	position: relative;
	padding: 30px 0 60px;


	&::before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		background: #000;
		content: '';
	}

	.inner {
		width: 1200px;
		height: auto;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	.footer-item {
		width: 300px;
		height: auto;
		font-size: 12px;
		color: #000;

		h3 {
			font-size: 12px;
			line-height: 16px;
			font-weight: 700;
			color: #000;
			margin-bottom: 13px;
		}

		.custom {
			font-size: 12px;
			line-height: 16px;
			font-weight: 500;
			color: #000;

			li {
				margin-bottom: 13px;
			}

			dl {
				display: flex;

				dt {
					width: 70px;
					margin-right: 20px;
					font-size: 12px;
					line-height: 16px;
					font-weight: 700;
					color: #000;
				}
			}
		}

		&.row2 {
			width: 600px;
			height: auto;

			.list-type1 {
				display: flex;

				ul {
					width: 300px;
				}
			}

			li {
				margin-bottom: 13px;
			}
		}

		.list-type2 {
			display: flex;
			font-size: 12px;
			line-height: 16px;
			font-weight: 700;
			color: #000;
			margin: 3px 0;

			li {
				margin-right: 20px;
			}

			&+.address-wrap {
				margin-top: 50px;
			}
		}

		.address-wrap {
			.logo {
				display: block;
				margin-top: 15px;

				img {
					width: 118px;
					height: 24px;
					opacity: 0.5;
				}
			}
		}
	}
}