//study 

//#1. tooltip
.tooltip-btn-area {
	// margin-top: 60px; //test

	.tooltip-btn {
		position: relative;
		font-weight: bold;
		color: #f00;
	}
}

.tooltip {
	position: absolute;
	// left: 150px;
	// top: 450px;
	display: none;
	width: 300px;
	height: auto;
	background: #fef5e5;
	border: 1px solid #f00;
	border-radius: 10px;
	padding: 6px;
	text-align: center;

	&.on {
		display: block;
	}
}

.try-1 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	background: #ffd997;
	border-radius: 15px;
}

.try-2 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #ffd997;
	border-radius: 15px;
}

.try-3 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #ffd997;
	border-radius: 15px;
}