//study 

//#1. tooltip
.tooltip-btn-area {
	// margin-top: 60px; //test

	.tooltip-btn {
		position: relative;
		font-weight: bold;
		color: #f00;
	}
}

.tooltip {
	position: absolute;
	// left: 150px;
	// top: 450px;
	display: none;
	width: 300px;
	height: auto;
	background: #fef5e5;
	border: 1px solid #f00;
	border-radius: 10px;
	padding: 6px;
	text-align: center;

	&.on {
		display: block;
	}
}

.try-1 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	background: #ffd997;
	border-radius: 15px;
}

.try-2 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #ffd997;
	border-radius: 15px;
}

.try-3 {
	width: 50%;
	margin: 10px;
	padding: 10px;
	border: 2px solid #ffd997;
	border-radius: 15px;
}

//#2. selectbox
.try-1 {
	.selectbox-wrap {
		position: relative;
		display: inline-block;
		width: 200px;
		height: 30px;
		z-index: 99;
		vertical-align: middle;

		dl {
			position: relative;
		}

		dt a {
			display: block;
			border: 1px solid #ddd;
			border-radius: 6px;
			background: #fff;
			padding: 3px;

			&>span {
				display: block;
				margin: 0 40px 0 15px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 20px;
					right: 15px;
					width: 13px;
					height: 7px;
					// background: url(/1.png) no-repeat 0 0;
				}
			}
		}

		dd {
			display: none;
			position: absolute;
			left: 0;
			top: 45px;
			width: 100%;
			background: #fff;

			ul {
				max-height: 202px;
				overflow-y: auto;
				// border: 1px solid $darkgray;
				border-top: 1px solid #eee;
				border-radius: 0 0 6px 6px;
			}

			a {
				display: block;
				background: #fff;

				&:hover {
					background: #f3f3f3;

					>span {
						color: #f3f3f3;
					}
				}

				>span {
					color: #666;
				}
			}

			li {
				&:last-child a {
					border-radius: 0 0 5px 5px;
				}
			}

			a span {
				display: block;
				margin: 0 27px 0 15px;
				height: 50px;
				line-height: 50px;
			}

			li.active a {
				background: #f3f3f3;

				>span {
					color: #f3f3f3;
				}
			}
		}

		&.active {
			z-index: 100;

			dd {
				display: block;
			}

			dt a {
				border: 1px solid #333;
				border-radius: 6px 6px 0 0;

				// span {
				// 	&:after {
				// 		background: url(/ico_arr_up_sm.png) no-repeat 0 0;
				// 	}
				// }
			}
		}
	}

}

//try-2 ==========================
.try-2 {
	.selectbox-wrap {
		select {
			width: 200px;
			height: 30px;
			border: 3px solid coral;
			border-radius: 15px;
			margin: 3px;

			option {
				background: coral;
			}
		}
	}

	.select-milkt {
		.label {
			width: 200px;
			height: 30px;
			border: 3px solid coral;
			border-radius: 15px;
			margin: 3px;
		}

		.select-option {
			display: none;
			width: 200px;
			background: coral;
			border-radius: 15px;

			.option {
				padding: 3px;
				text-align: center;
			}
		}
	}
}