//study 

//#1. tooltip
.tooltip-btn-area {
	// margin-top: 60px; //test

	.tooltip-btn {
		position: relative;
	}
}

.tooltip {
	position: absolute;
	left: 150px;
	top: 450px;
	display: none;
	width: 300px;
	height: 80px;
	background: #fef5e5;
	border-radius: 10px;
	padding: 6px;
	text-align: center;

	&.on {
		display: block;
	}
}