//rayout
.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;

	.link-list {
		position: fixed;
		left: 0;
		top: 0;
		width: 10vw;
		height: 100vh;
		padding: 10px;
		background-color: rgb(233, 233, 233);
	}

	.content-wrap {
		width: 100vw;
		height: 100vh;
		padding: 20px 50px;
		padding-left: 15vw;

		section {
			padding-top: 20px;
			height: 100vh;
		}
	}
}

//link-list : styling
.link-list {
	ol {
		li {
			padding: 5px;
			font-weight: 900;

			&:hover {
				background: #333;

				a {
					color: #fff;
				}
			}

			&.on {
				background: #333;

				a {
					color: #fff;
				}
			}
		}
	}
}

//클론 코딩 페이지 : study list page : 2022-06-16
.body-wrap {
	max-width: 1440px;
	padding: 80px 112px;

	.container {
		width: 100%;
		height: auto;

		.list-typeA {
			text-align: center;

			.title-area {
				display: inline-block;
				width: 590px;
			}

			.title {
				font-family: 'Inter';
				font-style: normal;
				font-size: 60px;
				line-height: 140%;
				margin-bottom: 10px;
			}

			.sub-title {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				text-align: center;
				letter-spacing: 0.2px;
				color: #6D7280;
				margin-bottom: 50px;
			}
		}
	}
}

// link
a {
	text-decoration: none;
	color: black;

	&.link {
		font-weight: bold;

		&.study {
			color: royalblue;
		}

		&.tip {
			color: coral;
		}
	}
}

//study-list
.study-list {
	.item-wrap {
		display: grid;
		grid-template-rows: repeat(2, 246px);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 32px;
		justify-items: center;
		align-items: start;
		// height: 620px;
		// overflow-y: scroll;

		li {
			padding: 30px;
			// background: rgba(200, 200, 200, .25);
			border-radius: 10px;
		}

		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;

			.thumbnail-image {
				display: block;
				width: 64px;
				height: 64px;
				margin: 0 auto;
				background: #111827;
				border-radius: 38.4px;
				// order: 0;
				overflow: hidden;

				img {
					display: block;
					width: 100%;
					padding-top: 64px;
					background: #333;
					object-fit: contain;
				}

				&+.tilte {
					font-family: 'Inter';
					font-style: normal;
					font-size: 18px;
					margin: 20px 0 10px;
				}
			}

			.detail {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 150%;
				text-align: center;
				color: #6D7280;

				.data,
				.tag-search {
					font-size: 12px;
					opacity: .5;
				}

				.data {
					&+.tag-search {
						&::before {
							content: '/ ';
						}
					}
				}
			}
		}
	}
}

//tip-wrap
.tip-wrap {
	.tip {
		margin: 30px;
		padding: 10px;
		background: #f3f3f3;
	}
}

//btn-filter : custom 공통
.btn-filter {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px 0;
	padding: 5px;
	border-radius: 5px;
	opacity: 80%;

	label {
		width: 80px;
		font-size: medium;
		font-weight: 600;
		color: royalblue;
	}

	input {
		width: 100%;
		height: 30px;
		border: none;
		border-bottom: 1px solid royalblue;
		border-radius: 0;
		margin-left: 10px;
	}
}

//test
.bg-patten {
	width: 100px;
	height: 100px;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.02) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02) 0),
		linear-gradient(45deg, rgba(0, 0, 0, 0.02) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0.02) 0),
		white;
	background-repeat: repeat, repeat;
	background-position: 0px 0, 13px 13px;
	background-size: 26px 26px, 26px 26px;
}